asgiref==3.7.2
braintree==4.22.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
Django==4.2.4
idna==3.4
paypalrestsdk==1.13.1
pycparser==2.21
pyOpenSSL==23.2.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==6.1.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
