<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://bootstraptema.ru/snippets/form/2017/styles.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/jquery.payform.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/script.js"></script>

{% block content %}{% endblock %}